* {
  margin: 0%;
  font-family: 'Montserrat', sans-serif; 
}

.navBar {
display: flex;
width: 100%;
height: 30%;
}

.logo{
  height: 100%;
  width: 50%;
  margin-top: 1%;
}

.navText{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.listText{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}


.navImg{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 1.5%;
  margin-left: 5%;
}

.listImg{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 70%; 
}


.staticBar {
  position: static;
  top: 0;
  max-width: 100%;
  height: 30px;
  background-color: #CDB6AB;
}


/* Iconos del menú (tamaño)*/
.styleImgMenu {
height: 200%;
width: 80%;   /* Iconos del menú (tamaño)*/
}

/* Iconos */
.navBarItems {
  text-decoration: none;
  color: black;
  font-weight: 100;
}


.styleImgLogo {
  width: 30%;
  margin-top: 5%;
  margin-left: 20%;
}

.navigation {
  list-style: none;
  width: 100%;
}

.navBarItems:hover {
  font-weight: 600;
}


.barItems {
  padding: 3em;
  display: inline;
  position: static;
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; 
}

.barImg{
  
  padding: 1em;
  height: 200%;
  width: 43%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}


.imgBanner {
  max-width: 53%;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  max-width: 100%;
  background-color: #CDB6AB;
}

.bannerInfo {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

/* Letrero Amuletos  */
.bannerInfoAmuletos {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #7B3631;
}

/*Letrero Nueva colección*/
.bannerInfoColecion {
  font-style: italic;
  font-weight: 370;
  font-size: 25px;
  color: rgb(145, 93, 45);
  margin-top: 10px;
}

/* Raya de Amuletos*/
.decoracion {
  border-color: white;
  border: solid 3px white;
}

/*FOOTER*/
footer{
  background:#C6C3C2;
}
.footerGrupo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  margin-top: 80px;

}



.footerList{
  display: flex;
  flex-direction: column;
}
.titulo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 10px;
  color: rgb(255, 255, 255);
}
.textoInfo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  padding: 5px;
  color: azure;
}

.descuento {
  font-size: 240%;
  margin-left: 10%;
  margin-top: 17%;
  margin-right: 10%;
  font-family:'Philosopher', sans-serif;
  color: white;

}


.tamImagen {
  width: auto;
  height: 17%;
}




/****CATEGORIAS****/
.tituloUno {
 font-size: 120%;
 color: dimgrey;
 margin: auto;
 display: flex;
 justify-content: center;
 margin-bottom: 3%;
}


.imagenesUno {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  justify-content: space-around;
  
}

 .contenidoUno {
  margin-top: 3%; 
 }
 
/****NUEVOS PRODUCTOS****/

.contenidoDos {
  margin-top: -75%;
}
.cartados{
  height: 300px;
}
.tituloDos{
 font-size: 120%;
 color: dimgrey;
 margin: auto;
 display: flex;
 justify-content: center;
 margin-bottom: 3%;
}

.imagenesDos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  justify-content: space-around;
}

/* COMPARTE TUS FOTOS*/

.contenidoTres {
  margin-top: -70%;
  width: 100%;
}

.tituloTres{
 font-size: 120%;
 color: dimgrey;
 margin: auto;
 display: flex;
 justify-content: center;
 margin-bottom: 3%;
 width: 100%;
}

.imagenesTres {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  margin-left: 10%;

  
}

.tamImagenTres {
  width: 100%;
  height: auto;
}

  
/*características principales con descripción*/
.barraDetalles {

  font-size: 90%;
  margin-top: 2%; 
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 3%;
}

#car {
  width: 100%;
  height: auto;
    }
    

/*# sourceMappingURL=style.css.map */